
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}

body {
  background: linear-gradient(to top, #000, #4d4c4c);
  height: 100vh;
}
