.todo-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 1rem;
  gap: 1rem;
  background-color: #ffffff05;

  h2 {
    font-size: 24px;
    color: #df5f5f;
    font-weight: 700;
  }

  .form-group {
    display: flex;
    align-items: center;
    gap: 1rem;

    label {
      font-size: 14px;
    }

    input {
      padding: .4rem;
      background: transparent;
      border: 1px solid #555556;
      border-radius: 4px;
      color: #DADADA;
    }

    input::placeholder {
      padding-left: 4px;
    }
  }

  button {
    background: transparent;
    background-color: #e36c6c;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    height: 100%;
    padding: 0.8rem;
    cursor: pointer;
    transition-duration: .3s;
    font-family: inherit;

    &:hover {
      background-color: #191818d7;
      color: #fff;
    }
  }
}
